.active-image-section{
	height: 35rem;
	width: 65%;
	float: left;
	border: 2px solid green;
	margin-right: 10px;
	text-align: center;
	position: relative;
}

.move-image-section{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 17.5rem;
	width: 33%;
	float: right;
	margin-bottom: 5px;
	overflow: hidden;
}

.active-img{
	position: absolute;
	width: 140px;
	height: 100px;
	float: left;
	margin-right: 5px;
	top: 100px;
	left: 220px;
	overflow: hidden;
}

.move-text-section{
	height: 17.5rem;
	width: 33%;
	border: 2px solid green;
	float: right;
	overflow: hidden;
}

.active-text{
	position: absolute;
}



/* .active-img-2{
	position: absolute;
	width: 16%;
	height: 100px;
	float: left;
	margin-right: 5px;
	top: 100px;
	left: 365px;
	overflow: hidden;
}

.active-img-3{
	position: absolute;
	width: 16%;
	height: 100px;
	float: left;
	margin-right: 5px;
	top: 100px;
	left: 510px;
	overflow: hidden;
	
	
}  */


/* .bg-image{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .75;
	overflow: hidden;
	object-fit: cover;
} */

/* 
.move-img-2{
	width: 30%;
	height: 100px;
	float: left;
	margin-right: 5px;
}

.move-img-3{
	width: 30%;
	height: 100px;
	float: left;
	margin-right: 5px;
} */

/* .button{
	background-color: lightgreen;
	height: 30px;
	width: 130px;
	position: absolute;
	top: 80%;
	left: 80%;
	color: blue;
	text-decoration: none;
	border-radius: 15px;
	text-align: center;
	padding: 5px 0;
	display: inline-block;

} */

/* .move-img{
	width: 30%;
	height: 100px;
	float: left;
	margin-right: 5px;
	
} */


